<?php 

	$enable = $block->getConfig('enabled');
	if($enable < 1) return ; 
	$itemsDefault = $block->getConfig('itemsDefault');
	$itemsDesktop = $block->getConfig('itemsDesktop');
	$itemsDesktopSmall = $block->getConfig('itemsDesktopSmall');
	$itemsTablet = $block->getConfig('itemsTablet');
	$itemsMobile = $block->getConfig('itemsMobile');
	$title = $block->getConfig('title');
	$items = $block->getConfig('items');
	$speed = $block->getConfig('speed');
	$qty = $block->getConfig('qty');
	$showCart = $block->getConfig('addtocart');
	$showWishlist = $block->getConfig('wishlist');
	$showCompare = $block->getConfig('compare');
	$show_short_des = $this->getConfig('show_short_des');
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$rows = $block->getConfig('row');
	
?>
<div class="bestsellerproduct_container_slider  module-nav2">
	 
		<?php if($title) { ?>
		<div class='group-title1'><h2><?php echo $title;?> </h2></div>
		<?php } 
			$saleItems =  $block -> getBestsellerProduct();
			$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');			
			$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
			$image = 'new_products_content_widget_grid';
			$type = 'widget-new-grid';
			$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		?>
		<div class="row">
			<div class="col-first col-md-7 col-sm-7 col-xs-12">
				<?php
					foreach($saleItems as $_item) { 
							$productImage = $block->getImage($_item, $image);
							if($_item->getRotaryImage() && $_item->getRotaryImage() != 'no_selection')
								$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_item->getRotaryImage();
							else
								$imageRotary = '';
						?>
						<div class="item product">
							<div class="item-inner">
								
								<div class="image-container">
									<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
										<?php echo $productImage->toHtml() ?>
										<?php if($imageRotary): ?>
											<span class="image-rotate">
												<img src="<?php echo $imageRotary; ?>" alt="rotate image"/>
											</span>
										
										<?php endif; ?>
									</a>
									
								</div>
								<div class="des">
									<div class="product-name">
										<strong class="product-item-name">
											<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
											   href="<?php echo $block->getProductUrl($_item) ?>"
											   class="product-item-link">
												<?php echo $block->escapeHtml($_item->getName()) ?>
											</a>
										</strong>
										
									</div>
									<?php if ($templateType): ?>
										<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
									<?php endif; ?>
									<?php
										echo $block->getProductPrice($_item);
									?>
									<div class="actions"> 
										<?php if ($showCart): ?>
											<div class="actions-primary">
												<?php if ($_item->isSaleable()): ?>
													<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
														<button class="action tocart"
																data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_item) ?>"}}'
																type="button" title="<?php echo __('Add to Cart') ?>">
															<span><?php echo __('Add to Cart') ?></span>
														</button>
													<?php else: ?>
														<?php
															$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
															$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
														?>
														<button class="action tocart"
																data-post='<?php echo $postData; ?>'
																type="button" title="<?php echo __('Add to Cart') ?>">
															<span><?php echo __('Add to Cart') ?></span>
														</button>
													<?php endif; ?>
												<?php else: ?>
													<?php if ($_item->getIsSalable()): ?>
														<div class="stock available"><span><?php echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
											</div>
										<?php endif; ?> 
									</div>
									<?php if($show_short_des): ?>
										<div class="short-description">
											<?php echo $this->getShortString($_item->getDescription()); ?>
										</div>
									<?php endif; ?>
									
								</div>  
							</div>
							
						</div>
					<?php 
					break;
					}
					?>
			</div>
			<div class="col-second module-product2 col-md-5 col-sm-5 col-xs-12">
				<div class="owl-container">
					<div id="bestseller_product_slider" class="owl-carousel">
						<?php 
						
						$i=0;
						
						foreach($saleItems as $_item) { 
							if($i == 0){
								$i++;
							}
							
							else{
									$productImage = $block->getImage($_item, $image);
									if($_item->getRotaryImage() && $_item->getRotaryImage() != 'no_selection')
										$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_item->getRotaryImage();
									else
										$imageRotary = '';
								?>
								<?php if($i++%$rows==1) { ?> 
								<div class="items">
								 <?php } ?>
									<div class="item product">
										<div class="item-inner">
											
											<div class="image-container">
												<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
													<?php echo $productImage->toHtml() ?>
													<?php if($imageRotary): ?>
														<span class="image-rotate">
															<img src="<?php echo $imageRotary; ?>" alt="rotate image"/>
														</span>
													<?php endif; ?>
												</a>
												
											</div>
											<div class="des">
												<div class="product-name">
													<strong class="product-item-name">
														<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
														   href="<?php echo $block->getProductUrl($_item) ?>"
														   class="product-item-link">
															<?php echo $block->escapeHtml($_item->getName()) ?>
														</a>
													</strong>
													
												</div>
												<?php if ($templateType): ?>
													<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
												<?php endif; ?>
												<?php
													echo $block->getProductPrice($_item);
												?>
												<?php if($show_short_des): ?>
													<div class="short-description">
														<?php echo $this->getShortString($_item->getDescription()); ?>
													</div>
												<?php endif; ?>
												<div class="actions"> 
													<?php if ($showCart): ?>
														<div class="actions-primary">
															<?php if ($_item->isSaleable()): ?>
																<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
																	<button class="action tocart"
																			data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_item) ?>"}}'
																			type="button" title="<?php echo __('Add to Cart') ?>">
																		<span><?php echo __('Add to Cart') ?></span>
																	</button>
																<?php else: ?>
																	<?php
																		$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
																		$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
																	?>
																	<button class="action tocart"
																			data-post='<?php echo $postData; ?>'
																			type="button" title="<?php echo __('Add to Cart') ?>">
																		<span><?php echo __('Add to Cart') ?></span>
																	</button>
																<?php endif; ?>
															<?php else: ?>
																<?php if ($_item->getIsSalable()): ?>
																	<div class="stock available"><span><?php echo __('In stock') ?></span></div>
																<?php else: ?>
																	<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
																<?php endif; ?>
															<?php endif; ?>
														</div>
													<?php endif; ?> 
													
													<?php if ($showWishlist || $showCompare): ?>
														<div class="add-to-links" data-role="add-to-links">
															<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
																<a href="#"
																   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
																   class="action towishlist" data-action="add-to-wishlist"
																   title="<?php echo __('Add to Wishlist') ?>">
																	<span><?php echo __('Wishlist') ?></span>
																</a>
															<?php endif; ?>
															<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
																<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
																<a href="#" class="action tocompare"
																   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
																   title="<?php echo __('Add to Compare') ?>">
																	<span><?php echo __('Compare') ?></span>
																</a>
															<?php endif; ?>
														</div>
													<?php endif; ?> 
												</div>
											</div>  
										</div>
										
									</div>
									<?php if($i%$rows==1 || $i == count($saleItems)) { ?>
								</div>
								  <?php }?>
							<?php 
							}
						}
						?>
					</div>
				</div>
			</div>
		</div>
	 
</div>
<script type="text/javascript">
require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
	
   $("#bestseller_product_slider").owlCarousel({ 
		autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
		slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
		navigation : <?php if($show_navigation) echo 'true'; else echo 'false'; ?>,
		stopOnHover : true,
		pagination : <?php if($show_pagination) echo 'true'; else echo 'false'; ?>,
		items : <?php if($itemsDefault) echo $itemsDefault; else echo '4'; ?>,
		itemsDesktop : [1199,<?php if($itemsDesktop) echo $itemsDesktop; else echo '4'; ?>],
		itemsDesktopSmall : [991,<?php if($itemsDesktopSmall) echo $itemsDesktopSmall; else echo '3'; ?>],
		itemsTablet: [767,<?php if($itemsTablet) echo $itemsTablet; else echo '2'; ?>],
		itemsMobile : [479,<?php if($itemsMobile) echo $itemsMobile; else echo '1'; ?>],
		addClassActive : true,
		scrollPerPage:false,
		afterAction: function(){
			$("#bestseller_product_slider .owl-wrapper .owl-item").removeClass('first');
			$("#bestseller_product_slider .owl-wrapper .owl-item").removeClass('last');
			$("#bestseller_product_slider .owl-wrapper .owl-item").removeClass('before-active');
			$("#bestseller_product_slider .owl-wrapper .owl-item.active:first").addClass('first');
			$("#bestseller_product_slider .owl-wrapper .owl-item.active:last").addClass('last');
			$('#bestseller_product_slider .owl-wrapper .owl-item.active:first').prev().addClass('before-active');
		}
   });
   
});
</script>   