@font-face {
	font-family: 'Gautami';
	src:url('../fonts/gautami.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Daunpenh';
	src:url('../fonts/daunpenh.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {font-family:"Lobster1.4";src:url("../fonts/Lobster_1_4.eot?") format("eot"),url("../fonts/Lobster_1_4.woff") format("woff"),url("../fonts/Lobster_1_4.ttf") format("truetype"),url("../fonts/Lobster_1_4.svg#Lobster1.4") format("svg");font-weight:normal;font-style:normal;}